@import url('reset.css');

*,*:after,*:before {
  box-sizing: border-box;
}
.clear:before, .clear:after {content: '';display:table}
.clear:after {clear:both;}
.clear {*zoom:1;}

.wrap {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

body {
  background-color: #B5B098;
  color:#000;
  font-size: 14px;
  font-family: Verdana, Arial, sans-serif;
}

.site-title {
  padding: 80px 0;
  text-align: center;
  font-family: 'Girassol', cursive;
  font-size: 2.2em;
  background-color: #FFE4C4;
  color: #000080;
}

nav {
  height: 54px;
}

header nav ul li a {
  float: left;
  width: 25%;
  text-align: center;
  text-decoration: none;
  color: #000;
  padding: 20px 0;
  border-left: #fff 2px solid;
  background-color: #805878;
}

header nav ul li a:hover {
  border-bottom: #392A40 2px solid;
  color: #E4E6E1;
}

h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 1.9em;
}

#section-principale h3 {
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #696969;
}

#section-principale h4 {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

#section-principale h5 {
  font-size: 1em;
  margin-top: 17px;
  margin-bottom: 15px;
  color: #5E9AB4;

}

#cv-anglais h3{
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #696969;
}

#cv-anglais h4 {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

#cv-anglais h5 {
  font-size: 1em;
  margin-top: 17px;
  margin-bottom: 15px;
  color: #5E9AB4;

}

div#bonjour {
  text-align: center;
  margin-left: 10px;
}

.puces {
  list-style-type: circle;
}

.puces li {
  line-height: 1.5em;
}

footer {
  padding: 50px 0;
  background-color: #FFE4C4;
  margin-top: 100px;
}

footer p {
  text-align: center;
}



form {
  background-color: #BC8F8F;
  width: 600px;
  padding: 20px;
  margin: 0 auto;
}

form div {
  padding: 10px 0;
}

form div label {
  float: left;
  width: 240px;
  padding: 0 10px 0 0;
  text-align: right;
}

form div input[type="submit"] {
  background-color: #F5F5F5;
  color: #2E8B57;
  font-size: 1.5em;
  margin: 0 0 0 250px;
}

form fieldset {
  outline: 2px solid red;
}

form textarea {
  font-family: Verdana, Arial, sans-serif;
}
